body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
  background-color: #b0e0e6;
}

h1 {
  color: #cd5c5c9;
}

label {
  font-size: 18px;
}

input {
  font-size: 16px;
  padding: 5px;
  margin: 10px;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff8bc;
  border: none;
  cursor: pointer;
}

button: hover {
  background-color: #0056b3;
}

p {
  font-size: 20px;
  margin-top: 20px;
}
